Repository drblallo/modelica, changes with the labels that .github/labeler.yml gives for each.
All labels: github, jenkins, documentation, ast, codegen, frontend, tool

.github/labeler.yml:

github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

jenkins:
  - changed-files:
      - any-glob-to-any-file:
          - .jenkins/**

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

ast:
  - changed-files:
      - any-glob-to-any-file:
          - include/public/marco/AST/**
          - include/public/marco/Parser/**
          - lib/AST/**
          - lib/Parser/**

codegen:
  - changed-files:
      - any-glob-to-any-file:
          - include/private/marco/Modeling/**
          - include/public/marco/Codegen/**
          - include/public/marco/Dialect/**
          - include/public/marco/Modeling/**
          - lib/Codegen/**
          - lib/Dialect/**
          - lib/Modeling/**

frontend:
  - changed-files:
      - any-glob-to-any-file:
          - include/public/marco/Frontend/**
          - lib/Frontend/**

tool:
  - changed-files:
      - any-glob-to-any-file:
          - lib/tool/**

Add equation functions affine raising pass
  include/public/marco/Dialect/BaseModelica/Transforms/EquationFunctionAffineRaise.h
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.h
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.td
  lib/Dialect/BaseModelica/Transforms/EquationFunctionAffineRaise.cpp
Labels: codegen

Add equation function peeling pass
  include/public/marco/Dialect/BaseModelica/Transforms/EquationFunctionPeeling.h
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.h
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.td
  lib/Dialect/BaseModelica/Transforms/CMakeLists.txt
  lib/Dialect/BaseModelica/Transforms/EquationFunctionPeeling.cpp
Labels: codegen

Add affine-like operation interface
  include/public/marco/Dialect/BaseModelica/IR/BaseModelicaOpInterfaces.td
  include/public/marco/Dialect/BaseModelica/Transforms/AffineLikeOpInterfaceImpl.h
  lib/Dialect/BaseModelica/Transforms/AffineLikeOpInterfaceImpl.cpp
  lib/Dialect/BaseModelica/Transforms/AllInterfaces.cpp
  lib/Dialect/BaseModelica/Transforms/CMakeLists.txt
Labels: codegen

Fold store having a subscription as destination
  include/public/marco/Dialect/BaseModelica/IR/BaseModelicaOps.td
  lib/Dialect/BaseModelica/IR/Ops.cpp
Labels: codegen

Emit affine loops when explicitating equations
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.td
  lib/Dialect/BaseModelica/Transforms/EquationExplicitation.cpp
  test/Dialect/BaseModelica/Transforms/EquationExplicitation/forward-scheduling.mlir
Labels: codegen

Add vectorization to the compilation pipeline
  include/public/marco/Frontend/CodegenOptions.h
  include/public/marco/Frontend/FrontendActions.h
  lib/Frontend/CMakeLists.txt
  lib/Frontend/CodegenOptions.cpp
  lib/Frontend/CompilerInvocation.cpp
  lib/Frontend/FrontendActions.cpp
Labels: frontend

Set up ResultRematerialization pass skeleton
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.h
  include/public/marco/Dialect/BaseModelica/Transforms/Passes.td
  include/public/marco/Dialect/BaseModelica/Transforms/ResultRematerialization.h
  lib/Dialect/BaseModelica/Transforms/CMakeLists.txt
  lib/Dialect/BaseModelica/Transforms/ResultRematerialization.cpp
  lib/Frontend/FrontendActions.cpp
Labels: codegen, frontend

WIP: Add basic IR walk to ResultRematerialization pass.
  include/public/marco/Frontend/CodegenOptions.h
  lib/Dialect/BaseModelica/Transforms/ResultRematerialization.cpp
  lib/Frontend/FrontendActions.cpp
Labels: codegen, frontend

Collect more information about scheduled blocks in rematerialization pass.
  lib/Dialect/BaseModelica/Transforms/ResultRematerialization.cpp
Labels: codegen

Scaffold graph builder for ResultRematerialization
  lib/Dialect/BaseModelica/Transforms/ResultRematerialization.cpp
Labels: codegen

Add graphing utility for ResultRematerialization graph.
  lib/Dialect/BaseModelica/Transforms/ResultRematerialization.cpp
  lib/Frontend/FrontendActions.cpp
Labels: codegen, frontend

Add strategized graph dumper
  lib/Dialect/BaseModelica/Transforms/ResultRematerialization.cpp
Labels: codegen

Parallelize expansion of frontier during BFS graph exploration
  include/public/marco/Modeling/Matching.h
Labels: codegen
